$table-dark-background-color: rgba(234, 233, 227, 0.30) !default;
.studio-sortable-table {
  font-size: .9rem;

  h2 {
    padding: 2rem;
  }

  th {
    padding: .5rem;
  }

  .sort-button {
    button {
      padding: .5rem;
      height: 1rem;
    }
  }

  tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    min-height: 3rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5rem;
    padding-right: .5rem;

    td {
      padding: 1rem;
    }
  }

  nav {
    margin: 1rem;

    .rvt-pagination__item {
      display: flex;
      align-items: center;
    }
  }

}