@import "~rivet-uits/css/rivet.min.css";

$extra-small-size: 20rem !default;
$small-size: 22rem !default;
$medium-size: 40rem !default;
$large-size: 62rem !default;
$extra-large-size: 75rem !default;

html {
  //so that reactjs scrollIntoView can be smooth
  scroll-behavior: smooth;
  font-size: 100%;
}

.mobile {
  display: block;
}

.main {
  display: none;
}

@media (min-width: $medium-size) {
  .mobile {
    display: none;
  }
  .main {
    display: block;
  }

}

